<html>
<head>
  <title>UNCONFIRMED</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Code+Pro">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="center-align demo">
  <a href="/unconfirmed" class="waves-effect waves-black btn-flat">UNCONFIRMED</a>
  <a href="/gallery" class="waves-effect waves-black btn-flat">GALLERY</a>
</div>
  <script src="/js/jquery-1.11.3.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</body>
</html>
